{{selectedHerd}}
<rdc-menu [smrDetails]="activeSmrs" [instanceNum]="selectedInstance"></rdc-menu>
<router-outlet></router-outlet>

<button type="button" class="btn btn-default btn-sm" (click)="back()">
      <span class="	glyphicon glyphicon-step-backward"></span> Back
</button>
<button type="button" class="btn btn-default btn-sm" (click)="saveForm()">
      <span class="glyphicon glyphicon-save"></span> Save
</button>
<button type="button" class="btn btn-default btn-sm" (click)="finishForm()">
      <span class="glyphicon glyphicon-save"></span> Finish
</button>