<div class="container">
    <div class="card">
        <div class="card-header text-xs-center">            
            <div class="navbar navbar-static-top navbar-dark bg-inverse">
                <div class="container-fluid">                    
                    <a href="#" class="navbar-brand"><span class="fa fa-home">Home</span></a>
                    <span class="pull-xs-right"><a routerLink="/dashboard" class="navbar-brand text-xs-right" [class.disabled]="offline"><span class="fa fa-sign-out">Log Out</span></a></span>
                </div>
            </div>

            <section class="jumbotron-fluid text-xs-center">
                <div class="container">
                    <h1 class="jumbotron-heading">Remote Data Capture</h1>
                    <p class="lead text-muted"></p>
                    <p>
                        <a href="#" class="btn btn-primary fa fa-upload" [class.disabled]="offline">Upload Completed Cases</a>
                        <a href="#" class="btn btn-secondary" [class.disabled]="offline"><span class=" fa fa-download">Download Inspections</span></a>
                        
                    </p>
                    <p>
                        <span *ngIf="offline" style="color:red">Offline Mode</span>
                    </p>
                </div>
            </section>
        </div>
        <div class="card-block">
            <router-outlet></router-outlet>
        </div>
        <div class="card-footer text-muted">
            Last updated: 6/9/2016, 1:20:59 p.m. (v3.0)
        </div>
    </div>

</div>